<div class="centered-content">
  <div class="white-box">

    <h1 class="title has-text-primary">Login</h1>
    
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput class="input has-background-light" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #pwInput class="input has-background-light" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end;">
      <p class="control">
        <button class="button is-success has-text-white" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">
          Login
        </button>
      </p>
    </div>

    <br>

    <p class="has-text-grey">Not got an account? <a routerLink="/signup">Sign up</a> now!</p>

  </div>
</div>